* {
text-align: center;
margin-top: 20px;
}

.searchButton {
  background-color: #EEEEEE;
  width: 50%;
  height: 100%;
  padding: 20px;
  border-radius: 50px;
}

.searchButton, ::placeholder {
  color: black;
}

.CountBook {
  background-color: rgb(218, 172, 21);
  width: 50%;
  margin: auto;
}

.mainFlex{
  display: grid;
  justify-content: center;

}

.mainStyle {
  background-color: #EEEEEE;
}

.detailsButton {
  background-color: rgb(218, 172, 21);
  color: white;
}

.CandV {
  margin: 0 20px;
}


.TandI {
  margin: 0 40px;
}

.getBook {
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  text-decoration: none;
}


